<template name="alarmItem">
  <div class="alarm">
    <li class="list-group-item {{alarmStatus}} {{isSelected}} {{ack}}">
      <!-- <div class="alarmPost" href="#"> -->
      <p class="break-el">{{mod_date}} {{text}} <i class="fa fa-home"></i> {{place}}</p>

        <!-- <a class="btn" href="{{pathFor 'comment'}}">comments</a>
        <a class="btn pull-right btn-small ack" href="#">Ack</a>
        <a class="btn pull-right btn small globalack" href="#">Global Ack</a> -->

    <!-- </div> -->
    </li>

  </div>
</template>
