<template name="alarms">
  <div class="template-alarms">
    <div class="page-header">
      <h3>System Alarms</h3>
    </div>
    <div class="form-style">
        <div class="container">
          <ul class="list-group">

            {{#each alarms}}
              {{> alarmItem}}
            {{/each}}
          </ul>

        </div>
        <div class="btn-toolbar" style="width: 70%;">
            <button type="button" class="btn pull-right btn-default btn-lg btn-ack"><strong>Acknowledged</strong></button>
            <!-- <button type="button" class="btn pull-right btn-default btn-lg btn-global"><strong>Global Ack</strong></button> -->
        </div>
    </div>
  </div>
</template>
